.template-container {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  color: rgb(241, 241, 241);
  transform: translateY(-50%);
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 600px;
}

.shop-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  background: white;
  color: #333;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.filter-tabs {
  display: flex;
  gap: 1rem;
  margin: 20px;
}

.tab {
  padding: 10px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.tab.active {
  background: navy;
  color: white;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  padding: 20px;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-size: 1.2rem;
  color: navy;
  margin: 10px 0;
}

.product-card button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.pagination {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}

.pages {
  margin-top: 10px;
}

.page-btn {
  padding: 8px 14px;
  margin: 0 4px;
  background: #eee;
  border: none;
  border-radius: 4px;
}

.page-btn.active {
  background: navy;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
}
.hero-text a {
  margin: 0 5px;
  font-size: 1.5rem;
}

.logo img {
  height: 40px;
  border-radius: 50%;
}

.emoji-profile {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.qty-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.qty-control button {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.2s;
}

.qty-control button:hover {
  background-color: #e0e0e0;
}

.qty-control span {
  font-size: 1.1rem;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}