/* Container with sidebar and main content */
.admin-container {
    display: flex;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 240px;
    background-color: white;
    color: black;
    padding: 2rem 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .sidebar-menu a {
    display: block;
    padding: 0.8rem 1rem;
    color: black;
    text-decoration: none;
    margin: 0.5rem 0;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 1.3rem;

  }
  
  .sidebar-menu a:hover {
    background-color: #eaeaea;
  }
  
  .sidebar-menu a.active {
    background-color: #fbedbd; /* Active effect (red) */
    font-weight: bold;
  }
  
  /* Optional: make hover override active temporarily */
  .sidebar-menu a.active:hover {
    background-color: #fbedbd;
  }
  
  /* Main content area */
  .admin-main {
    flex: 1;
    padding: 2rem;
    background-color: #d8e7f8;
  }

  .logout-btn-1 {
  margin-top: 1.5rem;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.2s;
}

.logout-btn:hover {
  background-color: #fa919c;
}

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .admin-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      flex-direction: row;
      overflow-x: auto;
      white-space: nowrap;
      padding: 1rem;
    }
  
    .sidebar-title {
      display: none;
    }
  
    .sidebar-menu {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .sidebar-menu a {
      margin: 0 1rem;
      padding: 0.5rem 1rem;
    }
  }
  .topbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.preview-btn {
  background: #4B9FE1;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.preview-btn:hover {
  background: #357ec7;
}
.store-url-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f8f8;
  border-left: 4px solid #4caf50;
  font-size: 14px;
}

.store-url-box a {
  color: #1a73e8;
  text-decoration: underline;
  word-break: break-all;
}
